<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Globomantics</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/globomantics.css" />
  </head>
  <body>
    <%- include('shared/header') %>
    <div class="container">
      <p>Houses currently on the market</p>
      <div class="row font-weight-bold">
        <div class="column">Address</div>
        <div class="column"></div>
        <div class="column">Country</div>
        <div class="column">Asking Price</div>
        <div class="column action"></div>
      </div>
      <% houses.forEach(house => { %>
      <div class="row">
        <div class="column">
          <%= house.houseInfo.address.street %>, <%=
          house.houseInfo.address.city %>
        </div>
        <div class="column"></div>
        <div class="column"><%= house.houseInfo.address.country %></div>
        <div
          class="column"
          style="<%= parseFloat(house.houseInfo.askingPrice) >= 500000 ? 'color: red;' : '' %>"
        >
          $<%= Number(house.houseInfo.askingPrice).toLocaleString('en-US') %>
        </div>
        <div class="column action">
          <button class="btn btn-danger">Delete</button>
        </div>
      </div>
      <% }); %>
      <div class="row">
        <a href="/house/add"
          ><button class="btn btn-primary add-btn">Add</button></a
        >
      </div>
    </div>
  </body>
</html>
